<h1>Details</h1>

<div>
    <h4>Answer</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            Question ID
        </dt>
        <dd class="col-sm-8">
            ${data.questionId}
        </dd>
        <dt class="col-sm-4">
            Answer
        </dt>
        <dd class="col-sm-8">
            ${data.answerText}
        </dd>
        <dt class="col-sm-4">
            Correct answer
        </dt>
        <dd class="col-sm-8">
            ${data.isCorrect}
        </dd>
    </dl>
</div>
<div>

    <a load="/answer-index">Back to List</a>
</div>
