<h1>Edit</h1>

<h4>Category (${data.id})</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="categoryName">Category</label>
            <input value.bind="data.categoryName" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" click.delegate="saveChanges($event)"/>
        </div>
    </div>
</div>

<div>
    <a load="/category-index">Back to List</a>
</div>
