<h1>Sport Chuck Norris jokes</h1>

<style>
    body {
          background-image: url('https://www.click2houston.com/resizer/o-RkVcDHpL60vOpgaZLTQSm2028=/640x360/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/arc-anglerfish-arc2-prod-gmg.s3.amazonaws.com/public/S4VH3U42B5GUNNHJBZ4AKAIQZA.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          color: white;
         
     }
     
 </style>

<table class="table">
    <style>
        tbody, thead {
              font-size: larger;
              color: white;
              
         }
     </style>
    <thead>
        <tr>
            <th>
                joke
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        
         <tr repeat.for="item of appState.cnsports" item.bind="item">
            <td>
                ${item.value}
            </td>
            
        </tr>

    </tbody>
</table>
