<h1>Quizzes</h1>

<a load="/quiz-create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Quiz ID
            </th>
            <th>
                Category name
            </th>
            <th>
                Quiz
            </th>
            <th>
                Description
            </th>
            <th>
                Average score
            </th>
            <th>
                Times played
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.id}
            </td>
            <td>
                ${item.categoryName}
            </td>
            <td>
                ${item.name}
            </td>
            <td>
                ${item.description}
            </td>
            <td>
                ${item.averageScore}
            </td>
            <td>
                ${item.timesPlayed}
            </td>
            <td>
                <a load="/quiz-details(${item.id})">Details</a>
                <template if.bind="state.token != null">
                    | 
                    <a load="/quiz-edit(${item.id})">Edit</a> | 
                    <a load="/quiz-delete(${item.id})">Delete</a>
                </template>
            </td>
        </tr>
    </tbody>
</table>