<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            ${data.id}
        </dd>
        <dt class = "col-sm-2">
            Category ID
        </dt>
        <dd class = "col-sm-10">
            ${data.categoryId}
        </dd>
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            ${data.categoryName}
        </dd>
        <dt class = "col-sm-2">
            Quiz
        </dt>
        <dd class = "col-sm-10">
            ${data.name}
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            ${data.description}
        </dd>
        <dt class = "col-sm-2">
            Average score
        </dt>
        <dd class = "col-sm-10">
            ${data.averageScore}
        </dd>
        <dt class = "col-sm-2">
            Times played
        </dt>
        <dd class = "col-sm-10">
            ${data.timesPlayed}
        </dd>
    </dl>
</div>
<div>

    <a load="/quiz-index">Back to List</a>
</div>
