<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            Quiz ID
        </dt>
        <dd class="col-sm-8">
            ${data.quizId}
        </dd>
        <dt class="col-sm-4">
            Score
        </dt>
        <dd class="col-sm-8">
            ${data.score}
        </dd>
    </dl>
</div>
<div>
    <a load="/game-index">Back to List</a>
</div>
