<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            FirstName
        </dt>
        <dd class="col-sm-8">
            ${data.firstName}
        </dd>
        <dt class="col-sm-4">
            LastName
        </dt>
        <dd class="col-sm-8">
            ${data.lastName}
        </dd>
    </dl>
</div>
<div>

    <a load="/person-index">Back to List</a>
</div>
