<h1>Persons Index</h1>

<a load="/person-create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.firstName}
            </td>
            <td>
                ${item.lastName}
            </td>
            <td>
                <a load="/person-detail(${item.id})">Details</a>
                <template if.bind="state.token != null">
                    | 
                    <a load="/person-edit(${item.id})">Edit</a> | 
                    <a load="/person-delete(${item.id})">Delete</a>
                </template>
            </td>
        </tr>
    </tbody>
</table>
