<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="firstName">Firstname</label>
            <input value.bind="data.firstName" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label class="control-label" for="lastName">Lastname</label>
            <input value.bind="data.lastName" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label class="control-label" for="personsIdCode">personsIdCode</label>
            <input value.bind="data.personsIdCode" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" click.delegate="createPerson($event)"/>
        </div>
    </div>
</div>

<div>
    <a load="/person-index">Back to List</a>
</div>